{% extends "core/base.html" %}

{% block title %}
    ورود
{% endblock %}

{% block content %}
    <main id="main">
        <div class="container mt-5 pt-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="card">
                        <div class="card-header">
                            ورود به سایت
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-outline-primary">ورود</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}